{% extends 'index.html' %}
{% block title %}Casting Agency | Actors{% endblock %}
{% block content %}
<section id="highlights" class="wrapper style3">
	<div class="title">The Actors</div>
	<div class="container">
		<div class="row aln-center">
			{% for actor in actors %}
			<div class="col-4 col-12-medium">
				<section class="highlight">
					<button type="submit" data-id="{{ actor.id }}" class="button-delete" title="Remove actor"><i class="fa fa-trash-alt"></i></button>
					<button type="submit" data-id="{{ actor.id }}" data-name="{{actor.name}}" data-age="{{actor.age}}" data-gender="{{actor.gender}}" data-description="{{actor.description}}"  data-image="{{actor.image}}" id="button_edit_actor" class="button-edit" title="Edit actor"><i class="fa fa-edit"></i></button>
					<a href="/actors/{{ actor.id }}" class="image featured"><img src="{{actor.image}}" alt="" /></a>
					<h3><a href="/actors/{{ actor.id }}">{{ actor.name }}</a></h3>
					<p> Description: {{actor.description}} <br>Age: {{actor.age}} <br> Gender: {{actor.gender}}</p>
				</section>
				
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
				
