{% extends 'index.html' %}
{% block title %}Casting Agency | Actors{% endblock %}
{% block content %}

<section id="highlights" class="wrapper style3">
	<div class="title">The Actors</div>
	<div class="container">
		<div class="row aln-center">
			{% for actor in actors %}
			<div class="col-4 col-12-medium">
				
				<section class="highlight">
					<a href="/actors/{{ actor.id }}" class="image featured"><img src="static/images/pic01.jpg" alt="" /></a>
					<h3><a href="/actors/{{ actor.id }}">{{ actor.name }}</a></h3>
					<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
				</section>
				
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
				
