<!DOCTYPE HTML>
<html>
	<head>
		<title>Casting Agency</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<nav id="nav">
					<ul>
						<li {% if request.endpoint == 'actors-detail' %} class="active" {% endif %} ><a href="{{ url_for('get_actors_detail') }}">Actors</a></li>
						<li {% if request.endpoint == 'movies' %} class="active" {% endif %}><a href="{{ url_for('get_movies') }}">Movies</a></li>
						<li><a href="#two">About Us</a></li>
						<li>
							<a href="#">Contact Us</a>
							<ul>
								<li><a href="templates/form.html">Form</a></li>
								<li><a href="#footer">Social Media</a></li>
							</ul>
						</li>
						<li><a id="LogInbutton" href="https://DOMAIN/authorize?audience=API_AUDIENCE&response_type=token&client_id=CLIENT_ID&redirect_uri=CALLBACK_URL" class="button primary">Log in</a></li>
						<li><a id="LogOutbutton" onclick="logOutSession()" class="button primary">Log out</a></li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Welcome to Casting Agency!</h2>
							<p>With over 20 years experience in the field of casting,<br />
								we take pride in being able to deliver the unusual<br />
								or source individuals with both specialist skills and looks.</p>
						</header>
						<span class="image"><img src="static/images/pic01.jpg" alt="" /></span>
						<header id="header1">
							<nav id="nav">
								<ul>
									<li><a id="addMovie" href="#" class="button m-button" data-target="#actorAdd">Add Movie</a></li>
									<li><a id="addActor" href="#" class="button m-button" data-target="#movieAdd">Add Actor</a></li>
								</ul>
							</nav>
						</header>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

		

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="static/images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Bespoke Casting</h2>
							<p>Why choose us?</p>
						</header>
						<!-- <p>We are recognised as one of the best UK background casting agencies. Don’t take our word for it, check out our credits.</p> -->
						<ul>
							<li>Top national agency</li>
							<li>Biggest selection of Artistes</li>
							<li>Largest team of booker</li>
							<li>More than just ID checks</li>
							<li>DBS verified Artistes</li>
							<li>Efficient office support</li>
							<li>Paperless Payments</li>
							<li>More than just background</li>
						</ul>
						<ul class="actions">
							<li><a href="about.html" class="button">Learn More</a></li>
						</ul>
					</div>
				
				</section>


			<!-- Footer -->
				<footer id="footer">
					<ul>
						<li class="active" id="additional" class="button is-primary" onclick="getTokenResponse()"> <a>additional</a></li>
					</ul>
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</footer>
				{% block actors %}{% endblock %}

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
			 <!-- <script src="static/assets/js/script.js"></script> -->
	</body>
</html>
