<!DOCTYPE HTML>
<html>
	<head>
		<title>Casting Agency</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header">
				<nav id="nav">
					<ul>
						<li id="getActors" {% if request.endpoint == 'actors' %} class="active" {% endif %}><a href="{{ url_for('get_actors') }}" >Actors</a></li>
						<li id="getMovies" {% if request.endpoint == 'movies' %} class="active" {% endif %}><a href="{{ url_for('get_movies') }}" >Movies</a></li>
						<li id="aboutUsbutton"><a href="#two">About Us</a></li>
						<li id="contactButton">
							<a href="#">Add Actors/Movies</a>
							<ul>
								<li><a href="#"onclick="openForm('ActorForm')" >Add Actor </a></li>
								<li><a href="#" onclick="openForm('MovieForm')" >Add Movie</a></li>
							</ul>
						</li>
						<li><a id="LogInbutton" href="https://vrdev.eu.auth0.com/authorize?audience=MovieCastApp&response_type=token&client_id=nufEsETO2W43Bo42Ai7YzNdsp7woWbmP&redirect_uri=https://vr-casting-agency.herokuapp.com/" class="button primary">Log in</a></li>
						<li><a id="LogOutbutton" onclick="logOutSession()" class="button primary">Log out</a></li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2 id="c1">Welcome to Casting Agency!</h2>
							<p id="c2">With over 20 years experience in the field of casting,<br />
								we take pride in being able to deliver the unusual<br />
								or source individuals with both specialist skills and looks.</p>
						</header>
						<span class="image"><img id="profileImage" src="static/images/pic01.jpg" alt="Profile Image" /></span>
						{% block content %}{% endblock %}
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>

					<div class="form-div" id="MovieForm">
						<form class="form-area">
							<button type="submit" class="button-cancel" onclick="closeForm('MovieForm')"><b>╳</b></button>
							<div class="form-title">Add a New Movie</div>
							<div>
								<span class="form-label">Title</span>
								<input type="text" id="movie-title" required>
							</div>
							<div>
								<span class="form-label">Release Date</span>
								<input type="text" id="movie-release" required>
							</div>
						<button type="submit" class="button-submit" id="submit-movie-form">Submit</button>
					  </form>
					</div>

					<div class="form-div" id="ActorForm">
						<form class="form-area">
							<button type="submit" class="button-cancel" onclick="closeForm('ActorForm')"><b>╳</b></button>
							<div class="form-title">Add a New Actor</div>
							<div>
								<span class="form-label">Name</span>
								<input type="text" id="actor-name" required>
							</div>
							<div>
								<span class="form-label">Gender</span>
								<input type="text" id="actor-gender" required>
							</div>
							<div>
								<span class="form-label">Age</span>
								<input type="text" id="actor-age" required>
							</div>
						<button type="submit" class="button-submit" id="submit-actor-form">Submit</button>
					  </form>
					</div>
				</section>

							<!-- Highlights -->
							<!-- <section id="highlights" class="wrapper style3">
								<div class="title">The Endorsements</div>
								<div class="container">
									<div class="row aln-center">
										<div class="col-4 col-12-medium">
											<section class="highlight">
												<a href="#" class="image featured"><img src="static/images/pic06.jpg" alt="" /></a>
												<h3><a href="#">Aliquam diam consequat</a></h3>
												<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section class="highlight">
												<a href="#" class="image featured"><img src="static/images/pic06.jpg" alt="" /></a>
												<h3><a href="#">Nisl adipiscing sed lorem</a></h3>
												<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
											</section>
										</div>
										<div class="col-4 col-12-medium">
											<section class="highlight">
												<a href="#" class="image featured"><img src="static/images/pic06.jpg" alt="" /></a>
												<h3><a href="#">Mattis tempus lorem</a></h3>
												<p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
											</section>
										</div>
									</div>
								</div>
							</section>
				 -->

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="static/images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Bespoke Casting</h2>
							<p>Why choose us?</p>
						</header>
						<ul>
							<li>Top national agency</li>
							<li>Biggest selection of Artistes</li>
							<li>Largest team of booker</li>
							<li>More than just ID checks</li>
							<li>DBS verified Artistes</li>
							<li>Efficient office support</li>
							<li>Paperless Payments</li>
							<li>More than just background</li>
						</ul>
						<ul class="actions">
							<li><a href="/about" class="button">Learn More</a></li>
						</ul>
					</div>
				
				</section>


			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</footer>
				

		</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
			 <!-- <script src="static/assets/js/script.js"></script> -->
	</body>
</html>
