{% extends 'index.html' %}
{% block title %}Casting Agency | Movies{% endblock %}
{% block content %}
<section id="highlights" class="wrapper style3">
	<div class="title">The Movies</div>
	<div class="container">
		<div class="row aln-center">
			{% for movie in movies %}
			<div class="col-4 col-12-medium">
				<section class="highlight">
					<button type="submit" data-id="{{ movie.id }}" class="button-delete" title="Remove movie"><i class="fa fa-trash-alt"></i></button>
					<button type="submit" data-id="{{ movie.id }}" data-title="{{ movie.title }}" data-releaseDate="{{ movie.release_date }}" data-description="{{ movie.description }}" data-image="{{ movie.image }}" class="button-edit" title="Edit movie"><i class="fa fa-edit"></i></button>
					<a href="/movies/{{ movie.id }}" class="image featured"><img src="{{movie.image}}" alt="" /></a>
					<h3><a href="/movies/{{ movie.id }}">{{ movie.title }}</a></h3>
					<p>Description: {{movie.description}} <br>Release Date: {{movie.release_date}} <br> Casting Date: 18/08/202</p>
				</section>
				
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
