{% extends 'index.html' %}
{% block content %}
			<!-- Content -->
			<section id="content">
				<div class="container">
					<div class="row">
						<div class="col-3 col-12-medium">

							<!-- Left Sidebar -->
								<section>
									<header>
										<h3>Cast </h3>
									</header>
									<!-- <div class="listbar">
										<a href="#" class="control_next"></a>
									</div> -->
									{% if movies[0].actor_id %}
									<ul id="slider" class="link-list">
										{% for actor in movies %}
										<li><a href="https://vr-casting-agency.herokuapp.com/actors/{{actor.actor_id}}"><img src="https://vr-casting-agency.herokuapp.com/{{actor.actor_image}}" alt="{{actor.actor_name}}" /></a>
											<a href="https://vr-casting-agency.herokuapp.com/actors/{{actor.actor_id}}">{{actor.actor_name}}</a>
										</li>
										{% endfor %}
									</ul>
									{% else %}
									<ul id="slider" class="link-list">
										<li>
											No actors from existing list Acting in this Movie.
										</li>
									</ul>
									{% endif %}
									<!-- <div class="listbardown">
										<a href="#" class="control_up"></a>
									</div> -->
									
								</section> 
								
						</div>
						<div class="col-6 col-12-medium imp-medium">

							<!-- Main Content -->
								<section style="text-align: center;">
									{% if movies[0].movie_image %}
									<img class="profile" src="https://vr-casting-agency.herokuapp.com/{{movies[0].movie_image}}" alt="{{movies[0].movie_title}}" />
									
										<h2>{{movies[0].movie_title}}</h2>
									{% else %}
									<img class="profile" src="https://vr-casting-agency.herokuapp.com/{{movies[0].image}}" alt="{{movies[0].name}}" />
									
										<h2>{{movies[0].name}}</h2>
									{% endif %}
									<p>
										Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio
										mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat
										egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
										vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
										justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
										iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor.
									</p>
								</section>

						</div>
						<div class="col-3 col-12-medium">

							<!-- Right Sidebar -->
							<section>
								<header>
									<h3>Assign Actors to this Movie</h3>
								</header>
								<form class="cast-form">
									<div>
										<span class="form-label">Movie Title</span>
										{% if movies[0].movie_title %}
										<input type="text" id="cast-movie-title" value="{{movies[0].movie_title}}"  data-castId="{{ movies[0].movie_id }}">
										{% else %}
										<input type="text" id="cast-movie-title" value="{{movies[0].title}}" data-castId="{{ movies[0].movie_id }}">
										{% endif %}
									</div>
									<div>
										<span class="form-label">Actor Name</span>
										<select name="cast-actor-name" id="cast-actor-name">
											<option value="null"></option>
											{% for actor in movies|last %}	
											<option value="{{actor.id}}">{{actor.name}}</option>
											{% endfor %}
											
										</select>
										
									</div>
								<button type="submit" class="button primary" id="submit-cast-form1">Assign</button>
							  </form>
							</section>

								<section style="text-align: center;">
									<header>
										<h3>Details:</h3>
									</header>
									<ul class="link-list">
										{% if movies[0].movie_title %}
											Producer's Email: <li><a href="#">{{movies[0].movie_title}}@gmail.com</a></li>
											Producer's Phone: <li><a href="#">+77128765432</a></li>
											Producer's LinkedIn: <li><a href="#">{{movies[0].movie_title}}.linkdin.com</a></li>
										{% else %}
											Producer's Email: <li><a href="#">{{movies[0].name}}@gmail.com</a></li>
											Producer's Phone: <li><a href="#">+77128765432</a></li>
											Producer's LinkedIn: <li><a href="#">{{movies[0].name}}.linkdin.com</a></li>
										{% endif %}
									</ul>
								</section>

						</div>
					</div>
				</div>
			</section>

{% endblock %}
