{% extends 'index.html' %}
{% block content %}
			<!-- Content -->
			<section id="content">
				<div class="container">
					<div class="row">
						<div class="col-3 col-12-medium">

							<!-- Left Sidebar -->
								<section>
									<header>
										<h3>Experince in Acting </h3>
									</header>
									<!-- <div class="listbar">
										<a href="#" class="control_next"></a>
									</div> -->
									
									<ul id="slider" class="link-list">
										{% for actor in actors %}
										<li><a href="#"><img src="https://vr-casting-agency.herokuapp.com/{{actor.movie_image}}" alt="{{actor.movie_title}}" /></a>
											<a href="https://vr-casting-agency.herokuapp.com/movies/{{actor.movie_id}}">{{actor.movie_title}}</a>
										</li>
										{% endfor %}
									</ul>
									<!-- <div class="listbardown">
										<a href="#" class="control_up"></a>
									</div> -->
									
								<!-- </section>
								<section>
									<header>
										<h3>Applied for</h3>
									</header>
									<ul class="link-list">
										{% for actor in actors %}
										<li><a href="#"><img src="https://vr-casting-agency.herokuapp.com/{{actor.movie_image}}" alt="{{actor.actor_name}}" /></a></li>
										<li><a href="#">Ligula non varius</a></li>
										{% endfor %}
									</ul>
								</section> -->
						</div>
						<div class="col-6 col-12-medium imp-medium">

							<!-- Main Content -->
								<section>
									
									<img src="https://vr-casting-agency.herokuapp.com/{{actors[0].actor_image}}" alt="{{actors[0].actor_name}}" />
									<header>
										<h2>{{actors[0].actor_name}}</h2>
									</header>
									<p>
										{{actors[0].actor_description}}
									</p>
									<p>
										Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio
										mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat
										egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
										vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
										justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
										iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor.
									</p>
								</section>

						</div>
						<div class="col-3 col-12-medium">

							<!-- Right Sidebar -->
								<section>
									<header>
										<h2>Magna Phasellus</h2>
									</header>
									<ul class="link-list">
										<li><a href="#">Sed dolore viverra</a></li>
										<li><a href="#">Ligula non varius</a></li>
										<li><a href="#">Nec sociis natoque</a></li>
										<li><a href="#">Penatibus et magnis</a></li>
										<li><a href="#">Dis parturient montes</a></li>
										<li><a href="#">Nascetur ridiculus</a></li>
									</ul>
								</section>
								<section>
									<header>
										<h2>Ipsum Dolor</h2>
									</header>
									<p>
										Vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
										iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat.
									</p>
									<ul class="link-list">
										<li><a href="#">Sed dolore viverra</a></li>
										<li><a href="#">Ligula non varius</a></li>
										<li><a href="#">Dis parturient montes</a></li>
										<li><a href="#">Nascetur ridiculus</a></li>
									</ul>
								</section>

						</div>
					</div>
				</div>
			</section>

{% endblock %}
